/*trend.html*/
#h4-css{
    border: 1px solid powderblue;
	padding: 20px 70px 20px 70px; 

}
.center_div{
	margin: 0 auto;
	width:40%;
}
#btn-center{
	padding-top:20px;
}
#image-design{
	border-radius: 8px;
}

#try{
    background-image: url('/static/part2_1.jpg');
    background-size: cover;

}
.responsive{
	width: 100%;
	height: auto;
}
.btn {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
     font-size: 20px;
}
.btn:hover {
    background-color: #ff3333;
}
#p-css{
    /*border: 2px solid  #ff1a1a;*/
	padding: 30px 0px 70px 60px;
}
.center_div{
    margin: 0 auto;
    width:40%;
}
#font{
    font-family: Courier;
    font-style: normal;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 10%;
   width: 100%;
   background-color: #ffffff;

   /*border: 2px solid red;*/
}
/*sticky footer and header css*/
div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 30px 0px 70px 60px;
    /*font-size: 20px;*/
}
div.sticky1{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    width:100%;
    background-color: #ffffff;
    padding: 30px 0px 70px 60px;
    /*font-size: 20px;*/
}
.content{
    position: relative;
}
.content-himg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 40px;
}
#pad{
    float: right;
    font-family: courier;
    font-style: bold;
    font-size: 15px;
    color: #e60000;
    padding-top: 20px;
    padding-right: 10px;
    text-align: center;
    opacity: 0.8;
}

/*additional design*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}
@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

