/*trend.html*/
#h4-css{
    border: 1px solid powderblack;
	padding: 30px 50px 30px 50px;
}
.center_div{
	margin: 0 auto;
	width:40%;
}
#btn-center{
	padding-top:20px;
}
#image-design{
	border-radius: 8px;
}

#try{
    background-image: url('/static/part2_1.jpg');
    background-size: cover;

}
.responsive{
	width: 100%;
	height: auto;
}
.btn {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
     font-size: 20px;
}
.btn:hover {
    background-color: #ff3333;
}
#p-css{
    border: 2px solid  #ff1a1a;
	padding: 30px 50px 30px 70px;
}
.center_div{
    margin: 0 auto;
    width:40%;
}
#font{
    font-family: Courier;
    font-style: normal;
}
#navbar {
    overflow: hidden;
    background-color: #333;
}
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*additional design*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}
@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

