<!doctype html>
<html lang="en">
<head>
    <title>TCP/IP Utility</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='style.css')}}">

</head>

<body id="try" onload="myFunction()" style="margin:0;">

   <div class="container-fluid">
       <div class="row">
       </div>
       <div class="sticky">
           <div class="content"><a href="/">
               <img src="{{url_for('static', filename='cropped_3.jpg')}}" class="content-himg" alt="trendlogo"></a>
           </div>
       </div>
        <div class="container btn-center">
            <div class="jumbotron">
                <!-- <h2 class ="font top pad" align="center">Email sent</h2> -->
                <!-- <h2 class="font top pad" align >Please update the DCS team for ticketing</h2> -->
                <h2 align="center">Email sent</h2>
                <p align="center">Please update the DCS team for ticketing</p>
            </div>
        </div>

       <div class="row btn-center" align="center">
           <form action="/" method="GET">
               <button class="btn" type="submit"><span>Go back to main page</span></button>
           </form>
       </div>

       </div>
       <div class="footer">
            <p class="pad">™ Network Diagnostic Tool 2018</p>
       </div>
   </div>

</body>
</html>