<!doctype html>
<head>
    <title>TCP/IP Utility</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<html>
    <body>
    <h1>thank you for accessing network analyzer</h1>
    <p>{% print ping_res %}</p><br>
    <p>{% print trace_res %}</p><br>
    <p>{% print nslookup_res %}</p><br>
    <p>{% print netstat_res %}</p><br>

    </body>
</html>