<!doctype html>
<html lang="en">
    <head>
        <title>TCP/IP Utility</title>

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>

<body onload="myFunction()" style="margin:0;" id="try">
<div class="container-fluid">
    <div class="row">

        <div id="loader"></div>

        <div style="display:none;" id="myDiv"class="animate-bottom">
            <div class="sticky">
                <div class="content">
                    <img src="{{url_for('static', filename='cropped_3.jpg')}}" href="https://www.trendmicro.com" class="content-himg" alt="trendlogo">
                </div>
            </div>

            <!--padding top mga 50px-->
            <h2 id="font toppad" align="center">You are trying to check the host: {{ request.form.destine }}</h2>
            <!-- dis is for the header -->

            <div class="row" align="center" id="btn-center">
                <form action="/email" method="GET">
                    <button class="btn" type="submit">Send result via Email</button>
                    <button class="btn" type="button" formaction="/download">Download EXE File</button>
                </form>

            </div>

            <div class="row" id="p-css">
                <p align="left">{{ data| safe }}</p>
            </div>

        </div>

    </div>
    <div class="footer">
        <p id="pad">created by trenduo (FRIAS & FLORES)</p>
    </div>
</div>

<script>

var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 3000);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }

</script>

</body>
</html>
