<!doctype html>
<html lang="en">
    <head>
        <title>TCP/IP Utility Tool</title>

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>

<body onload="myFunction()" style="margin:0;" id="try">
    <div class="container-fluid">
        <div class="row">

            <div id="loader"></div>

            <div style="display:none;" id="myDiv"class="animate-bottom">
                <div class="sticky">
                    <div class="content">
                        <a href="/"><img src="{{url_for('static', filename='cropped_3.jpg')}}" class="content-himg" alt="trendlogo"></a>
                    </div>
                </div>

                <!--padding top mga 50px-->
                <div>
                    <h2 class = "font" align="center"></br>You are trying to check the host: {{ request.form.destine }}</h2></br>
                </div>

                <div>
                <h2 class = "font1" align="center">{{ data[0] | safe }}</h2>
                </div>


                <div class ="row btn-center">

                    <div class ="col-lg-6" style="left:170px">
                        <div class ="container">
                            <img src="{{url_for('static', filename='PING-box.jpg')}}" class="image-hover" align="right">
                            <div class="overlay" data-modal="#modalOne">
                                <div class="text" >PING</div>
                            </div>
                        </div>

                    </div>
                    <div class ="col-lg-6" style="right:170px">
                        <div class="container">
                            <img src="{{url_for('static', filename='TRACERT-box.jpg')}}" class="image-hover" >
                            <div class="overlay" data-modal="#modalTwo">
                                <div class="text">TRACERT</div>
                            </div>
                        </div>
                    </div>


                    <!-- ping and  tracert -->

                </div>
                <div class="modal" id="modalOne">
                    <div class="modal-content">
                        <span onclick="document.getElementById('myModal').style.display='none'"class="close">&times;</span>
                        <p>{{ data[1] | safe }}</p>
                    </div>
                </div>
                <div class="modal" id="modalTwo">
                    <div class="modal-content">
                        <span onclick="document.getElementById('myModalTracert').style.display='none'"class="close">&times;</span>
                        <p>{{ data[2] | safe }}</p>
                    </div>
                </div>

                <!-- nslookup and netstat -->
                <div class ="row btn-center" >

                    <div class ="col-lg-6">
                        <div class="container" style="left:170px">
                            <img src="{{url_for('static', filename='NSLOOKUP-box.jpg')}}" class="image-hover" >
                            <div class="overlay" data-modal="#modalThree">
                                <div class="text">NSLOOKUP</div>
                            </div>
                        </div>
                    </div>
                    <div class ="col-lg-6" style="right:170px">
                        <div class="container">
                            <img src="{{url_for('static', filename='NETSTAT-box.jpg')}}" class="image-hover">
                            <div class="overlay" data-modal="#modalFour">
                                <div class="text">NETSTAT</div>
                            </div>
                        </div>
                    </div>


                    <div class="modal" id="modalThree">
                        <div class="modal-content">
                            <span onclick="document.getElementById('myModal').style.display='none'"class="close">&times;</span>
                            <p>{{ data[3] | safe }}</p>
                        </div>
                    </div>
                    <div class="modal" id="modalFour">
                        <div class="modal-content">
                            <span onclick="document.getElementById('myModalTracert').style.display='none'"class="close">&times;</span>
                            <p>{{ data[4] | safe }}</p>
                        </div>
                    </div>
                </div>
                <div class="row btn-center" align="center">
                    <button class="btn123 btn" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" ><span>Send the result via Email</span></button>
                </div>
                <div align="center">
                    <a href="/"><p>Click here to start again</p></a>
                </div>



                <div id="id01" class="modal">
                     <form class="modal-content animate" action="" method="POST" id="sent">
                         <div class="imgcontainer">
                             <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                             <img src="{{url_for('static', filename='email.png')}}" alt="Avatar" class="avatar">
                         </div>
                         <div class="container">

                            <label for="psw"><b>Enter your email address:</b></label>
                            <input type="text" placeholder="First_Last@trendmicro.com" name="email" value="{{ request.form.email }}" autocomplete="off">
                            <button type="submit">Send</button>

                         </div>
                         {% if error %}
                             <p class="error"><strong>ERROR: </strong>{{ error }}
                            {% endif %}
                         <div class="container" style="background-color:#FFFFFF">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                         </div>
                     </form>
                </div>
                <div class="footer" >
                    <p class="pad">™ Network Diagnostic Tool 2018</p>
                </div>
            </div>
        </div>
    </div>


    <script>
    $(".overlay").on("click", function() {
      var modal = $(this).data("modal");
      $(modal).show();
    });

    $(".modal").on("click", function(e) {
      var className = e.target.className;
      if(className === "modal" || className === "close"){
        $(this).closest(".modal").hide();
      }
    });

    $(document).ready(function(){
        $("#sent").submit(function(e){
            e.preventDefault()
            $.ajax({
                url: '/sent',
                type: 'POST',
                data: $('#sent').serialize(),
                success: function(data){
                    if(data === 'error'){
                        alert('INVALID! Please fill up the form.');
                        $('#id01').show()
                    }
                    else if(data == 'invalid'){
                        alert('Wrong email format')
                        $('#id01').show()
                    }
                    else{
                        alert('Email Sent!')
                        $('#id01').hide();
                    }
                }
            });
        });
    });

    var myVar;

        function myFunction() {
            myVar = setTimeout(showPage, 3000);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }

    </script>

</body>
</html>
