<!doctype html>
<html lang="en">
<head>
<title>TCP/IP Utility</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='style.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<!--align(id)-->
<body id="try">

	<div class ="container-fluid">

		<div class="row" id="h4-css">
			<!--h4 class="text-center"> TCP/IP Utility </h4-->
            <!-- dito mo lagay ung pyhton code kung pano mag import -->
			 <img src="{{url_for('static', filename='samplev2.jpg')}}" class="responsive" alt="trendmictro.pic">

		</div>
		<div class="row center_div" align="center">

			<form action="" method="POST"> <!-- dito lalagay yung form para sa backend nung we-->
				<div class="col-xs-12">
					<div class="input-group btn-center" id="">

						<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
						<input class="form-control"type="text" name="email" placeholder="example@trendmirco.com" value="{{ request.args.get.email }}">

						<br>
					</div>
				<!--dapat ma-scan eto ng user -->
				    <div class="input-group btn-center">

					    <span class="input-group-addon"><i class="glyphicon glyphicon-play-circle"></i></span>
                        <input class="form-control"type="text" name="destine" placeholder="Enter URL/IP destination" value="{{ request.args.get.destine }}">

					    <br>
				    </div>
				<!-- dis will be redirected to the controller between html and python -->
				    <div class="row btn-center">

						<button type="submit" class="btn" value="GO"><span>GO</span></button>

				    </div>

			    </div>
			</form>
            <br>

            {% if error %}
                <p class="error"><strong>ERROR: </strong>{{ error }}
            {% endif %}

		</div>
        <div class="footer">
            <p id="pad",>™ Network Diagnostic Tool 2018</p>
        </div>
	</div>
</body>

</html>
