<!doctype html>
<html lang="en">
<head>
<title>TCP/IP Utility</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='style.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<!--align(id)-->
<body id="try">

	<div class ="container-fluid">

		<div class="row" id="h4-css">
			 <img src="{{url_for('static', filename='samplev2.jpg')}}" class="responsive" alt="trendmictro.pic">
		</div>
		<div align="center">
			<button class="row btn-center btn123 btn" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" value="GO"><span>START TEST</span></button>
		</div>

		<!-- this is where the modal starts -->

		<div id="id01" class="modal">
			 <form class="modal-content animate" action="" method="POST">
				 <div class="imgcontainer">
					 <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
					 <img src="{{url_for('static', filename='t-logo.jpg')}}" alt="Avatar" class="avatar">
				</div>

				<div class="container">
                    <!--<label for="email"><b>Enter your email:</b></label>
					&lt;!&ndash;span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span&ndash;&gt;
			  		<input type="text" placeholder="First_Last@trendmirco.com" name="email" value="{{ request.form.email }}" required>
-->
			  		<label for="psw"><b>Enter Destination address:</b></label>
					<!--span class="input-group-addon"><i class="glyphicon glyphicon-play-circle"></i></span-->
			  		<input type="text" placeholder="IP Address/URL" name="destine" value="{{ request.form.destine }}" required>

					<button type="submit">Enter to proceed</button>

				</div>
				 {% if error %}
					 <p class="error"><strong>ERROR: </strong>{{ error }}
					{% endif %}
				 <div class="container" style="background-color:#FFFFFF">
      				<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
				 </div>
			 </form>

		</div>

		<div class="footer">
			<p class="pad">™ Network Diagnostic Tool 2018</p>
		</div>

	</div>

	<script>
	// Get the modal
	var modal = document.getElementById('id01');

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
	</script>
</body>

</html>
